body {
    background-color: #200407;
    overflow-x: hidden;
}

.scallop {
    position: relative;
    background: #200407;
    padding: 30px;
}

.scallop::after { 
    position: absolute;
    z-index: 4;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content: "";
    background: radial-gradient(circle at 50% 0%, #200407 25%, transparent 26%, transparent 40%);
    background-color: transparent;
    background-size: 50px 100px;
    height: 50px;
    background-repeat: repeat-x;
}

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.navigation-logo {
    display: flex;
    align-items: center;
    gap: 1rem; 
}

.logo {
    width: clamp(1.5rem, 2vw, 4rem); 
    height: auto;
}

.navigation-logo h1 {
    color: white;
    font-weight: 500;
    font-size: clamp(1rem, 2vw, 3rem); 
}

.navigation-buttons {
    display: flex;
    gap: 2rem;
    color: white;
    font-size: clamp(12px, 20px, 30px); 
}

.header-image {
    position: relative;
    width: 100%;
    height: 70vh; /* div class in itself has no height*/
    background: 
        linear-gradient(to bottom, rgba(30, 11, 11, 0.4), rgba(30, 11, 11, 0.4)),
        url("/images/header.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    padding-bottom: 1rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    position: relative;
    text-align: center;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.75rem, 2vw, 1.5rem);
}


.header-content h1 {
    font-size: clamp(12px, 2vw, 4rem); 
    color: white;
    font-weight: 400;
    text-shadow: 0 2px 10px rgba(13, 2, 2, 0.836);
}

.learn-more {
    width: 20%;
    color: white;
    background-color: #20040794;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
}

.learn-more:hover {
    cursor: pointer;
}

@media (max-width: 900px) { 
    .header-image {
        height: 50vh; 
        background-size: 150%;
    }

    .learn-more {
        width: 40%;
    }
}

@media (max-width: 600px) { 
    .learn-more {
        font-size: 10px;
        padding: 5px;
    }
}

.description-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.parallax-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.mainart {
    position: absolute;
    width: clamp(400px, 50vw, 1200px);
}

.clouds {
    transform: scale(0.70)
}

@media (max-width: 500px) { 
    #cloud1 {
        transform: scale(0.6)
    }

    #cloud2 {
        display: none;
    }
}

#long-description {
    background: linear-gradient(
        to right,
        #200407 0%,
        #3f0a0c 50%,
        #200407 100%    
    );
    color: #C4877E;
    width: 70%;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    line-height: 2;
    font-family: "Cormorant Garamond", serif;
    font-size: clamp(10px, 30px, 25px);
}

#quote {
    color: white;
    width: 50%;
    text-align: center;
    font-size: clamp(5px, 15px, 20px);
}

.biography-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.biography-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bioart {
    width: clamp(400px, 20vw, 1200px);
    margin-left: -6vw;
}

@media (max-width: 500px) { 
    .header-image {
        height: 40vh; 
    }

    .parallax-section {
        height: 40vh;
    }

    .mainart {
        width: 300px;
    }

    #long-description {
        font-size: clamp(15px, 18px, 20px);
        padding: 8px;
    }

    #quote {
        width: 90%;
        font-size: clamp(10px, 12px, 15px);
    }

    .bioart {
        width: 300px;
    }
}

@media (max-width: 900px) {
    .biography-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.images-slider{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to bottom,
        #200407 0%,
        #941b1d 100%    
    );
    padding-bottom: 3rem;
}

.images-full-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 90%;
    background: #e5c1ad56;
    border-radius: 15px;

}

.image-slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-slide-container {
    text-align: center;
    color: #C4877E;
    padding: 1rem;
}

.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left-button, .right-button {
    all: unset;
    background-color: #7E3D39;
    color: #cfb6b2;
    padding: 1rem;
    font-size: 20px;
}

.images {
    height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-image {
    height: 60vh;
    width: 50%;
    object-fit: cover;
    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 1px;
    z-index: 9;
}

.right-image, .left-image {
    height: 50vh;
    width: 20vw;
    object-fit: cover;
    border-radius: 10px;
    filter: blur(2px) saturate(0.3);
}

.dots {
    display: flex;
    gap: 5px;
}

.dot.passive {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: white;
}

.dot.active {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #200407;
}

@media (max-width: 700px) {
    .images {
        height: 70vh;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .middle-image {
        height: 60vh;
        width: 60vw;
        object-fit: cover;
        border: solid 1px white;
        border-radius: 15px;
        box-shadow: 0px 0px 30px 1px;
        z-index: 9;
    }

    .right-image, .left-image {
        display: none;
    }
}

.scallop-bottom {
  position: relative;
  background: #200407;
  padding: 30px;
}

.scallop-bottom::after { 
  position: absolute;
  z-index: 4;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  content: "";
  background: radial-gradient(
    25px at 25px 110%,#200407 24px, transparent 25px) repeat-x;
  background-size: 50px 50px;
}

.follow-us {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    font-size: clamp(20px, 30px, 35px);
    padding: 8px;
}

.footer-container {
    position: relative;
}

#footer-image {
    width: 100%;
    display: block;
    height: auto;
}

.footer-content {
    background-color: #7E3D39;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.footer-content h2, .footer-content h3 {
    color: white
}

.footer-content p {
    color: #FAB2A8;
    line-height: 30px;
}

input[type="text"] {
    width: 100%;
    padding: 2px;
}

@media (max-width: 800px) {
    .footer-content {
        display: flex;
        width: 100%;
        justify-items: center;
        align-items: center;
    }

    .footer-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .accordian {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .title {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        color: white;
        line-height: 40px;
        border-bottom: 1px solid #200407;
    }

    .title:hover {
        box-shadow: 0px 5px 10px 1px #5a2b30;
    }

    .content {
        max-height: 0;
        display: none;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1)
    }

    .content.show {
        height: auto;
        max-height: 999px;
        display: block;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1)
    }
}